body {
    background: #131113;
    font-family: 'Roboto', serif;
    font-size: 14px;
}
.material {
    font-family: 'Material Icons', serif;
}
.report {
    color: #eceff1;
    background: #211d21;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.report .date {
    font-size: 12px;
    color: #cacfd0;
}

.report p, .report h3 {
    margin: 5px 10px;
}

.report.killed, .report.knocked {
    box-shadow: inset 0 .2rem 0 #69f0ae;
}
.report.killed-by, .report.knocked-by {
    box-shadow: inset 0 .2rem 0 #f44336;
}

.report.killed.teammate-pov {
    box-shadow: inset 0 .2rem 0 #b4df77;
}

span.killed, span.knocked {
    color: #30e337;
}
span.killed-by, span.knocked-by {
    color: #ff0000;
}
.inline-info {
    display: inline-flex;
}

.tag {
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 400;
    opacity: .4;
    border: 1px solid #ffffff4d;
    background: #fff3;
    border-radius: .5rem;
    display: inline-block;
    padding: .5rem;
    line-height: 1;
    margin: 5px 0 0 10px;
}

a.video-link:visited, a.video-link:link, a.video-link:hover, a.video-link:active {
    text-decoration: none;
    color: #eceff1;
}

.site-title {
    color: #eceff1;
    text-align: center;
}

.search-player {
    width: 20%;
    background: #211d21;
    border-color: #211d21;
    color: #fff;
    padding: 1em;
    box-shadow: 0 4px 12px -1px #0000004d,0 2px 8px -1px #0000001a,inset 0 12px 12px -12px #304ffe;
    box-sizing: border-box;
}

.result {
    background: #211d21;
    color: #eceff1;
    width: 20%;
    padding: 1em;
    border-bottom: 1px solid #eceff136;
    box-sizing: border-box;
}

.result:hover {
    cursor: pointer;
    background: #1f1d1f;
}

.player {
    display: flex;
    align-content: center;
    flex-direction: row;
}

.platform {
    width: 25px;
    height: auto;
    margin-right: 10px;
    border-radius: 100%;
    overflow: hidden;
    filter: invert(99%) sepia(4%) saturate(1%) hue-rotate(341deg) brightness(105%) contrast(100%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #eceff1;
    padding: 1rem 0;
    border-top: 1px solid rgba(236, 239, 241, 0.51);
    background: #131113;
}

a:hover, a:link, a:visited {
    color: #229df1;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .search-player {
        width: 100%;
        margin: 0;
    }
    .container {
        width: 100%;
    }

}